h1{
    text-align: center;
    background-color: yellow;
    padding: 5px;
    border: solid 3px black;

}
div{
    background-color: beige;
    height: 1000px;

}
h2{
    background-color: yellow;
    padding: 5px;
    border: solid 3px black;
    position: absolute;
    bottom: 0px;
    
}