h1{
    text-align: center;
    background-color: yellow;
    padding: 5px;
    border:  solid 3px black;

}
div{
    background-color: darkgray;
    height: 1000px;
}
h2{
    background-color: yellow;
    padding: 3px;
    border: solid 3px black;
    position: sticky;
    top: 0px;

}
p{
    background-color: yellow;
    position: static;
    bottom: 0px;
    
}