:root{
    /* -----------------------------------
    
    platte color site 
    https://www.happyhues.co/palettes/14

    ----------------------------------- */

    /* Elements */
   --background : #fffffe;
   --button : #ffd803;
   --button-text : #272343;
   --headline : #272343;
   --paragraph : #2d334a;

   /* Illustration */

   --secondary :#e3f6f5;
   --tertiary :#bae8e8;

}


body{
    background-color:var(--background);
    margin: 0 0;
    font-family: 'TT Norms Pro', sans-serif;
}

.nav-bar{
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 1rem;
}
#nav-bar-logo{
    align-items: center;
    display: flex;
}

#nav-bar-logo img{
    height: 5vh;
    width: 5vw;
    
    
}
#nav-bar-items{
    align-items: center;
    display: flex;
}
#nav-bar-items .nav-element{
 /* background-color: antiquewhite; */
 align-items: center;
 display: flex;
 justify-content: end;
 
}

#nav-bar-items .nav-element .nav-element-list {
    list-style: none;
    padding: 0 1.2rem;
}

#nav-bar-items .nav-element .nav-element-list a{
    color:var(--headline);
   
    font-size: 1.1rem;
    text-decoration: none;
}

.div1{
    align-items: center;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    margin: 8rem auto;
   
}

.div1 h1{
    font-size: 2.5rem;
    color:var(--headline) ;
}

.div1 p{
     color: var(--paragraph);
}
.div1 .div-a{
   margin-top:2rem;
}
.div1 .avatar{
    
   border-radius: 100%;
   border: 4px solid var(--headline); 
   height: 250px;    
   width: 250px;
   
}

.div1 .img1{
  margin-top: 6rem;
}
.div1 .img1 #img1-1{
  
  height: 20rem;
   
}

.div1 .div-b{
    align-items: center;
    background-color:#bae8e8;
    display: flex;
    flex-direction: column;
    height: 40rem;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 0;
    
}
.div1 .div-b h1{
    color: var(--headline);
    
}

.div1 .div-b p{
   
    color:var(--paragraph);
    font-size: 1.2rem;
    padding: 0.2% 22% ;
}

.div2{
    display: flex;
    height: 800px;
    justify-content: center;
    position:relative;
    top: -15rem;
    width: 100%;
    z-index: 1;
    
}
.div2-a{
   
  
    align-items: center;
    background-color:var(--headline);
    border-radius: 1.5rem;
    display: flex;
    height: 800px;
    justify-content: space-evenly;
    width: 80%;
  

}

.div2-b1,.div2-b2{
    /* background-color:var(--headline); */
    
    border-right: 2px solid #E6ECF8;
    box-sizing: border-box;
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    padding: 70px 10px ;
    
}
.div2-b3{
    box-sizing: border-box;
    height: 100%;
    padding: 70px 40px;
    width: 30%;
    
}

.div2-b1  .inner-logo ,.div2-b2  .inner-logo{
    background-color: var(--background);
    border-radius: 100%;
    height: 4.5em;
    padding: 2% 2%;
    width: 4.5em;
    

}