.title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.item span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    align-items: center;
    background-color: goldenrod;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;

}

.item:hover{
    color: antiquewhite;
}

#container{
    width: 95vw;
    height: 65vh;
    background-color: antiquewhite;
    outline: 3px solid blue;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 
    [col-start] 1fr
    [col-two] 1fr
    [col-three] 1fr
    [col-end]
    ;
    grid-template-rows: 60px auto 100px;
    grid-template-areas: 
    "h h h"
    "m m s"
    "f f f";

}

.header{
grid-area: h;
}

.main{
grid-area: m;
}

.sidebar{
grid-area: s;
}

.footer{
grid-area: f;
}